$ cat .gitignore

# игнорирование папки с временными копи€ми
*Hardware/Altium_project/History/

# игнорирование папки с даташитами
*Doc/pdf/

# игнорирование папки с STEP-модел€ми
*Mechanical/


# игнорирование всех превью
*.PcbDocPreview
*.SchDocPreview