$ cat .gitignore

# игнорирование папки с временными копиями
*Hardware/Altium_project/History/

# игнорирование папки с даташитами
*Doc/pdf/

# игнорирование всех превью
*.PcbDocPreview
*.SchDocPreview